{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
    
#room-name-wrapper{
    text-align: center;
    font-size: 18px;
}

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin:0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 93, 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198,202,219,1);
    position: relative;
}

.video-player{
    height: 100%;
    width: 100%;
}

.video-player > * {
    border-radius: 5px;
}

.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width:1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}


#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon{
    height: 20px;
    width: 20px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;

}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}

*:not(img):not(svg),
*::before:not(img):not(svg),
*::after:not(img):not(svg) {
  box-sizing: unset !important;
}

.icon-wrapper img {
  box-sizing:unset;
}


</style>

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div>
            <img class="control-icon icon-wrapper" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
        </div>

        <div>
            <img class="control-icon icon-wrapper" id="camera-btn" src="{% static 'images/video.svg' %}" />
        </div>

        <div>
            <img class="control-icon icon-wrapper" id="leave-btn" src="{% static 'images/leave.svg' %}" />
        </div>
    </section>
</main>



<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>
{% endblock content %}